@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.purple {
  color: #6A5ACD;
}

.white {
  color: white
}

.divsize {
  border: 2px solid lightgray;
}

.btn {
  border: 2px solid lightgray;
}

.navcolor {
  color: white;
}

.loader {
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* Add these styles in your CSS file or use Tailwind CSS classes */
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.notification-item {
  padding: 16px;
  border-bottom: 1px solid #e5e7eb;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-title {
  font-weight: bold;
}

.notification-content {
  color: #6b7280;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.background_recharge {
  background-color: rgba(0, 0, 0, 0.3);
  /* Light transparent white background */
  backdrop-filter: blur(4px);
}