@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.purple {
  color: #6A5ACD;
}

.divsize {
  border: 2px solid lightgray;
}

.navcolor {
  color: white;
}

.scroll-text {
  text-align: right;


  transform: translateX(-100%);


  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
  }

  to {
    -moz-transform: translateX(100%);
  }
}